/* font-family: 'Space Mono', monospace; */

:root {
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan1: hsl(186, 14%, 43%);
    --Dark-grayish-cyan2: hsl(184, 14%, 56%);
    --Light-grayish-cyan1: hsl(185, 41%, 84%);
    --Light-grayish-cyan2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--Light-grayish-cyan1);
}
.logo-div {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}
.main-div {
    background-color: var(--White);
    width: 57.5rem;
    display: flex;
    border-radius: 25px;
}
.set-price-div {
    flex-basis: 50%;
    margin: 3rem;
}
.bill-div {
    position: relative;
}
.bill {
    color: var(--Dark-grayish-cyan1);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.inp-text {
    padding: 0.25rem 1rem 0.25rem 1rem;
    border: 2px solid transparent;
    background-color: var(--Light-grayish-cyan2);
    width: 100%;
    text-align: right;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1.5rem;
    outline: none;
    border-radius: 5px;
    color: var(--Very-dark-cyan);
    cursor: pointer;
}
::placeholder {
    color: var(--Dark-grayish-cyan2);
}
.dollar-sign {
    position: absolute;
    left: 1.5rem;
    top: 3rem;
}
.tips-div {
    margin-top: 2.5rem;
}
.tip-text {
    color: var(--Dark-grayish-cyan1);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.btn-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.btn-tip {
    width: 30%;
    padding: 0.25rem;
    font-weight: 700;
    background-color: var(--Very-dark-cyan);
    color: var(--White);
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
}
.btn-tip:hover {
    color: var(--Very-dark-cyan);
    background-color: #9fe8df;
    transition: 0.4s;
}
.custom {
    padding: 0 0.5rem 0 0;
    height: 3rem;
    border: none;
    background-color: var(--Light-grayish-cyan2);
    width: 30%;
    text-align: right;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1.5rem;
    outline: none;
    border-radius: 5px;
    color: var(--Very-dark-cyan);
}
.people-div {
    position: relative;
    margin-top: 2rem;
}
.people {
    color: var(--Dark-grayish-cyan1);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.error-msg {
    color: rgba(255, 0, 0, 0.507);
    font-size: 1rem;
    position: absolute;
    left: 15rem;
    top: 0;
    font-weight: 700;
    visibility: hidden;
}
.show-error-msg {
    visibility: visible;
}
.people-sign {
    position: absolute;
    left: 1.5rem;
    top: 3rem;
}
.result-div {
    flex-basis: 50%;
    margin: 3rem 3rem 3rem 0;
    padding: 3rem;
    background-color: var(--Very-dark-cyan);
    border-radius: 25px;
}
.tip-amount-div {
    margin-bottom: 3rem;
    position: relative;
}
.total-amount-div {
    position: relative;
    margin-bottom: 7rem;
}
.result-text {
    color: var(--White);
    font-size: 1rem;
    font-weight: 700;
}
.desc {
    font-size: 0.8rem;
    color: var(--White);
    opacity: 0.5;
}
.value {
    position: absolute;
    top: -1rem;
    left: 10rem;
    font-size:3rem;
    font-weight: 700;
    color: var(--Strong-cyan);
}
.btn-reset {
    width: 100%;
    padding: 0.25rem;
    background-color: var(--Strong-cyan);
    font-weight: 700;
    text-align: center;
    color: var(--Very-dark-cyan);
    border-radius: 5px;
    cursor: pointer;
}
.btn-reset:hover {
    background-color: #9fe8df;
    transition: 0.4s;
}
.btn-active {
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
    transition: 0.4s;
}
.inp-text:focus {
    border: 2px solid rgb(34, 190, 170);
    transition: 0.4s;
}
.inp-text-error {
    border: 2px solid rgb(190, 34, 34);
    transition: 0.4s;
}

@media screen and (max-width:920px) {
    .main {
        margin: 5rem 0 5rem 0;
    }
    .main-div {
        width: 23.4rem;
        flex-direction: column;
    }
    .set-price-div {
        margin: 2rem;
    }
    .btn-tip {
        width: 45%;
    }
    .custom {
        padding: 0 1rem 0 0;
        width: 45%;
    }
    .result-div {
        margin: 2rem;
        padding: 2rem;
    }
    .total-amount-div {
        margin-bottom: 2rem;
    }
    .value {
        font-size: 2rem;
        left: 9rem;
    }
}